
		h1 {
			color: rgb(255, 0, 0);
			text-align: center;
		}

		/*div {
			background-color: teal;
			width: 100px;
			height: 400px;
			margin: 30px;
			padding: 20px;

		}*/

		div{
			font-family: Arial,sans-serif;
			font-size: 50px;
			font-weight: bold;

			border: 3px dotted chocolate;


		}
		#sec1 {
			font-family: courier;
			font-size: 30px;
			font-weight: normal;

			border: 3px solid black;

			margin-top: 5px;


		}
		#sec2 {
			font-family: "Times New Roman",Times,sans-serif;
			font-size: 40px;
			font-weight: 500;

			border: 3px solid red;
			margin-top: 5px;


		}

		.name{			
			font-weight: bold;

		}
		table {
			
			width: 50%;
			height: 50%;
			border: 2px solid teal;
			margin: 30px;
			border-collapse: collapse;
		}

		th, td {
			padding: 5px;
			border: 1px dotted black;
			text-align: center;

		}
		th
		{
			background-color: red;
		}
	